
@font-face {
    font-family: Merienda;
    src: url("./../../../Assets/fonts/Merienda/static/Merienda-Regular.ttf");
}

@font-face {
    font-family: Ubuntu;
    src: url("./../../../Assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@mixin pageRef{
    font-size: 20px;
    text-decoration: none;
    color: rgb(239, 160, 160);
    font-family: Ubuntu;
    transition: 0.5s color;
}

@mixin pageRefBefore{
    content: "";
    position: absolute;
    bottom: 8px;
    width: 40%;
    left: 0;
    height: 2px;
    background-color: rgb(243, 127, 127);
    transition: 0.5s width;
}

.container{
    width: 100%;
    position: absolute;
    top: 0;
    padding: 3vh 3vw;
    .box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .title{
            font-family: Merienda;
            color: white;
            margin-left: 5%;
        }
        .ref{
            display: flex;
            gap: 30%;
            .pageRef{
                @include pageRef;
                position: relative;
            }
            .pageRef::before{
                @include pageRefBefore;
            }
            .pageRef:hover::before{
                width: 100%;
            }
            .pageRef:hover{
                color:#ed2949;
            }
        }
        .pageRef{
            @include pageRef;
            position: relative;
            margin-right: 5%;
        }
        .pageRef::before{
            @include pageRefBefore;
        }
        .pageRef:hover::before{
            width: 100%;
        }
        .pageRef:hover{
            color:#ed2949;
        }
    }
}