@font-face {
    font-family: Ubuntu;
    src: url(../Assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Merienda;
    src: url(../Assets/fonts/Merienda/static/Merienda-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../Assets/fonts/Poppins/Poppins-Regular.ttf);
}