@import "fonts";

.centerBox{
    margin: 10% 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    .card{
        border: 1px solid white;
        border-radius: 10px;
        height: 100px;
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        .title{
            color: aliceblue;
            font-family: Poppins;
        }
        .content{
            color: aliceblue;
            font-family: Poppins;
        }
        .symbol{
            color:aliceblue;
            cursor: pointer;
        }
    }
}
.create{
    // width: 70%;
    display: grid;
    place-items: center;
    padding: 90px 0;
    // background-colo/r: white;
    .box{
        position: relative;
        .label{
            color: white;
            font-family: Poppins;
            font-size: 24px;
        }
        .close{
            cursor: pointer;
            color: aliceblue;
            position: absolute;
            right: -40px;
            // top: -20px;
        }
        .input{
            margin-top: 20px;
            margin-bottom:20px;
            height: 24px;
            width: 130%;
        }
    }
}
